<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<!-- <p>Counter: {{ counter }}</p> -->
<p>Counter: {{ counter | async }}</p>
<button (click)="increment()">Increment</button>